*{
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  margin: 20px;
}

h1{
  text-align: center;
}

.content{
  border: 1px solid gray;
  padding: 20px;
  margin-bottom:20px;
}

#pagination-container{
  text-align: center;
}

#paginaton{
  display: inline-block;
  padding: 0;

}